Data from https://www.kaggle.com/datasets/ninetyninenewton/seoul-subway-coordinates

In [2]:
import pandas as pd
import numpy as np
import os

DATA_DIR = '../../data'
RAW_DATA_DIR = os.path.join(DATA_DIR, 'raw')
CLEANED_DATA_DIR = os.path.join(DATA_DIR, 'cleaned')

STATION_LOCATION_RAW_DATA_DIR = os.path.join(RAW_DATA_DIR, 'station-location')
STATION_LOCATION_CLEANED_DATA_DIR = os.path.join(CLEANED_DATA_DIR, 'station-location')

In [6]:
df = pd.read_csv(os.path.join(STATION_LOCATION_RAW_DATA_DIR, "station-locations.csv"), index_col=0)
df

     line   name        lat         lng    no
0    01호선    소요산  37.948100  127.061034   100
1    01호선    동두천  37.927878  127.054790   101
2    01호선     보산  37.913702  127.057277   102
3    01호선  동두천중앙  37.901885  127.056482   103
4    01호선     지행  37.892334  127.055716   104
..    ...    ...        ...         ...   ...
704   경강선  신둔도예촌  37.317185  127.404760  K416
705   경강선     이천  37.265579  127.442260  K417
706   경강선     부발  37.260192  127.490277  K418
707   경강선  세종대왕릉  37.295309  127.570938  K419
708   경강선     여주  37.282701  127.628607  K420

[709 rows x 5 columns]

In [8]:
# Check for missing values
df.isnull().sum()

line    0
name    0
lat     0
lng     0
no      1
dtype: int64

In [9]:
# Manually fill missing value
df[df["no"].isnull()]

    line name        lat         lng   no
654  경춘선  광운대  37.623632  127.061835  NaN

In [10]:
df.at[654, 'no'] = 119

In [11]:
# Save cleaned data
os.makedirs(STATION_LOCATION_CLEANED_DATA_DIR, exist_ok=True)

df.to_csv(os.path.join(STATION_LOCATION_CLEANED_DATA_DIR, "station-locations.csv"), index=False)