Data from https://kosis.kr/statHtml/statHtml.do?returnurl=https%3A%2F%2Fkosis.kr%3A443%2FstatHtml%2FstatHtml.do%3Fmode%3D%26conn_path%3D%26list_id%3D%26dbUser%3DNSI.%26tblId%3DDT_Q13%26vw_cd%3DMT_ZTITLE%26itm_id%3D%26language%3Dko%26pub%3D%26orgId%3D212%26&sso=ok

In [2]:
import pandas as pd
import numpy as np
import os

DATA_DIR = '../../data'
RAW_DATA_DIR = os.path.join(DATA_DIR, 'raw')
CLEANED_DATA_DIR = os.path.join(DATA_DIR, 'cleaned')

TRAFFIC_RAW_DATA_DIR = os.path.join(RAW_DATA_DIR, 'traffic')
TRAFFIC_CLEANED_DATA_DIR = os.path.join(CLEANED_DATA_DIR, 'traffic')

In [5]:
traffic_df = pd.read_csv(os.path.join(TRAFFIC_RAW_DATA_DIR, '영업용자동차_업종별_수송_20260115150836.csv'), encoding='euc-kr')
display(traffic_df.columns)
display(traffic_df)

Index(['월별(1)', '시점', '업종별(1)', '업종별(2)', '등록대수 (대)', '수송인원 (명)', '수송량 (톤)'], dtype='object')

     월별(1)    시점 업종별(1) 업종별(2) 등록대수 (대)   수송인원 (명)  수송량 (톤)
0       전체  2001     여객     소계     8819  292689883        -
1       전체  2001     여객   시내버스      801   95137302        -
2       전체  2001     여객   시외버스      569   15101356        -
3       전체  2001     여객     택시     6539  172168615        -
4       전체  2001     여객     전세      910   10282610        -
...    ...   ...    ...    ...      ...        ...      ...
2647   12월  2023     여객     택시     6112    6268758        -
2648   12월  2023     여객     전세     1986    1125548        -
2649   12월  2023     화물     소계    15200          -  4837230
2650   12월  2023     화물   일반화물     7142          -  4490472
2651   12월  2023     화물   개인화물     8058          -   346758

[2652 rows x 7 columns]

In [11]:
cleaned_traffic_df = traffic_df.copy()

# Rename columns to english
cleaned_traffic_df.columns = ['Month', 'Year', 'Industry_1', 'Industry_2', 'Num_Registered_Vehicles', 'Num_Transported_Persons', 'Transport_volume_Tons']

# Convert Industry to english
industry_1_korean = ['여객', '화물']
industry_1_english = ['Passenger', 'Cargo']
cleaned_traffic_df.replace({'Industry_1': dict(zip(industry_1_korean, industry_1_english))}, inplace=True)

industry_2_korean = ['소계', '시내버스', '시외버스', '택시', '전세', '일반화물', '개인(개별)화물', '개인(용달)화물', '개인화물']
industry_2_english = ['Subtotal', 'City Bus', 'Intercity Bus', 'Taxi', 'Charter', 'General Cargo', 'Personal (Individual) Cargo', 'Personal (Delivery) Cargo',
'Personal Cargo']
cleaned_traffic_df.replace({'Industry_2': dict(zip(industry_2_korean, industry_2_english))}, inplace=True)

# Replace - with NaN
cleaned_traffic_df.replace({'Num_Registered_Vehicles': {'-': np.nan},
                            'Num_Transported_Persons': {'-': np.nan},
                            'Transport_volume_Tons': {'-': np.nan}}, inplace=True)

cleaned_traffic_df

,Month,Year,Industry_1,Industry_2,Num_Registered_Vehicles,Num_Transported_Persons,Transport_volume_Tons
0,전체,2001,Passenger,Subtotal,8819,292689883,NaN
1,전체,2001,Passenger,City Bus,801,95137302,NaN
2,전체,2001,Passenger,Intercity Bus,569,15101356,NaN
3,전체,2001,Passenger,Taxi,6539,172168615,NaN
4,전체,2001,Passenger,Charter,910,10282610,NaN
...,...,...,...,...,...,...,...
2647,12월,2023,Passenger,Taxi,6112,6268758,NaN
2648,12월,2023,Passenger,Charter,1986,1125548,NaN
2649,12월,2023,Cargo,Subtotal,15200,NaN,4837230
2650,12월,2023,Cargo,General Cargo,7142,NaN,4490472
2651,12월,2023,Cargo,Personal Cargo,8058,NaN,346758

Does not contain any seoul/district data so it is probably not useful for us